extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/api/update_relation', method='post')
    input(type='text',name='userId1')
    input(type='text',name='userId2')
    input(type='text',name='operation')
    input(type='submit')