extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/api/create_anniversary', method='post')
    input(type='text',name='relationId')
    input(type='text',name='anniversaryContent')
    input(type='date',name='anniversaryTime')
    input(type='submit')