extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/api/plan', method='get')
    input(type='text',name='relationId')
    input(type='text',name='page')
    //- input(type='date',name='statusTime')
    input(type='submit')