extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/api/lover', method='get')
    input(type='text',name='userId')
    //- input(type='password',name='password')
    //- input(type='text',name='email')
    input(type='submit')