extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/api/delete_anniversary', method='post')
    input(type='text',name='relationId')
    input(type='text',name='anniversaryId')
    //- input(type='date',name='anniversaryTime')
    input(type='submit')