extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/api/sign_up', method='post')
    input(type='text',name='username')
    input(type='password',name='password')
    input(type='text',name='email')
    input(type='submit')