.layout{
    height: 100vh;
    overflow: hidden;
}
.layout-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e9967a;
}
.header-info{
    display: flex;
    align-items: center;
}
.layout-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e9967a;
    border: none;
}
.layout-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.ant-layout-sider{
    background: #f99;
}
.ant-menu{
    background: #f99;
    border:none;
}
.ant-menu-item{
    background: #f99;
}
.userInfoMenu{
    height: 25vh !important;
    padding: 3vh 0 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar{
        height: 14vh;
        width: 14vh;
        border-radius: 50%;
    }
    .nickname{
        font-size: 18px;
    }
}

.ant-menu-item-selected{
    background: #fcc !important;
    color: rgba(0, 0, 0, 0.65) !important;
}
.ant-menu-item-active{
    color: rgba(0, 0, 0, 1) !important;
    /*font-weight: bolder;*/
}
.ant-menu-item::after{
    border-right: 3px solid #fcc !important;
}
.ant-menu-item-selected::after{
    border-right: 3px solid #fcc !important;
}

.calendar-wrapper{
    width: 60%;
}
.calendar-events{
    width: 30%;
}
.events-card{
    height: 400px;
    overflow: auto;
}
.margin-all{
    margin: 5px;
}
.text-center{
    text-align: center;
}
.day-cell{
    display: inline-block;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.circle-day{
    border: 1px solid pink;
    border-radius: 50%;
}
.cur-day{
    color: red
}

.login-page{
    display: flex;
    height: 100vh;
    justify-content: center;
    background-image: url(../img/bg.png);    
    background-size: contain;
}
.login-dig{
    width: 300px;
    margin: auto;
    .no-login{
        color: gray;
        text-decoration: underline;
    }
    .ant-card{
        background: none
    }
    .ant-card-head{
        background: none;
    }
}
.login-footer{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
}
.editor-class {
    height: 275px;
    border: 1px solid #F1F1F1;
    padding: 5px;
    border-radius: 2px;
    overflow: auto;
}

.content-body{
    img{
        display: inline-block;
        width: 100%;
    }
}

.editor-board{
    img{
        display: inline-block;
        width: 100%;
    }
}
.ant-card-hoverable{
    cursor: initial;
}

.userInfo{
	.ant-card-body{
		.ant-avatar{
			height: 15vh;
		    width: 15vh;
		    border-radius: 50%;
		}
		div{
			margin-top: 3vh; 
		}
	}
}
.box{
	textarea{
		margin-bottom: 40px;
		resize: none; 
	}
	button{
		float: right;
		margin: -32px 0px 0px;
	}
	.ant-list-item{
		.ant-list-item-meta{
			width: 100%;
			.ant-list-item-meta-content{
				width: 100%;
				.ant-avatar{
					height: 7vh;
				    width: 7vh;
				    border-radius: 50%;
				}
				.nickname{
				    display: block;
					font-size: 24px;
				}
				.ant-list-item-meta-description{
					width:100%;
					margin-top: 6px;
					margin-left: 6px;
					word-wrap:break-word;
				}
			}
		}
	}
}
.anniversary{
	form{
		.ant-form-item>div{
			display: block;
			label{
				float: left;
			}
		}
		div:nth-of-type(2){
			display: block;

		}
	}
}
.plan{
	form{
		.ant-form-item>div{
			display: block;
			label{
				float: left;
			}
		}
		div:nth-of-type(2){
			display: block;

		}
	}
}
.bindLove{
	.loverInfo{
		&>div:first-child{
			span:first-child{
				font-size:24px;
				display: block;
			}
			span:nth-of-type(2){
				display: block;
				margin: 10px 0 20px;
				padding-left: 4px;
				font-size:12px;
				color: rgba(0, 0, 0, 0.35);
			}
		}
		input{
			margin-bottom: 20px;
		}
	}
	.ant-card-head{
		.ant-btn{
			span{
				font-size: inherit;
			}
		}
        .ant-card-extra{
            padding: 0;
            display: flex;
            align-items: center;
        }
	}
}